.navbar {
    background-color: #333;
    overflow: hidden;
<<<<<<< HEAD
  }
  
  .navbar ul {
=======
<<<<<<< HEAD
}

.navbar ul {
=======
  }
  
  .navbar ul {
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
>>>>>>> f1f5fcf2a3bc08b65b6bb7165bc9f206e3fd06ef
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
<<<<<<< HEAD
=======
<<<<<<< HEAD
}

.navbar li {
    float: left;
}

.navbar a {
=======
>>>>>>> f1f5fcf2a3bc08b65b6bb7165bc9f206e3fd06ef
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar a {
<<<<<<< HEAD
=======
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
>>>>>>> f1f5fcf2a3bc08b65b6bb7165bc9f206e3fd06ef
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
<<<<<<< HEAD
=======
<<<<<<< HEAD
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
=======
>>>>>>> f1f5fcf2a3bc08b65b6bb7165bc9f206e3fd06ef
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
>>>>>>> f1f5fcf2a3bc08b65b6bb7165bc9f206e3fd06ef
