.user-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
<<<<<<< HEAD
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],

select {
=======
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],

  select {
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
<<<<<<< HEAD
}

button.btn-submit {
=======
  }
  
  button.btn-submit {
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
<<<<<<< HEAD
}

a.task-list {
=======
  }
  
  a.task-list {
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
<<<<<<< HEAD
}

a.task-list:hover {
    text-decoration: underline;
}


.error {
    margin-top: 10px;
    color: #dc3545;
}

.success {
    margin-top: 10px;
    color: #28a745;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
=======
  }
  
  a.task-list:hover {
    text-decoration: underline;
  }

   
  .error {
    margin-top: 10px;
    color: #dc3545;
  }
  
  .success {
    margin-top: 10px;
    color: #28a745;
  }
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar ul {
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
<<<<<<< HEAD
}

.navbar li {
    float: left;
}

.navbar a {
=======
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar a {
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
<<<<<<< HEAD
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
=======
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
>>>>>>> 52c3c056d67f84a2e4c916ee7f55a11f83fad432
